/* Home Banner section */
.home-banner{
    
    display: flex;
    align-items: center;
    justify-content: center;
    background: url(../../images/banner.jpg);
    background-position: center;
    background-size: cover;
    padding-top: 17rem;
    padding-bottom: 10rem;
  }
  
  .home-banner .banner-content{
    text-align: center;
    width:60rem;
  }
  
  .home-banner .banner-content h3{
    color:var(--black);
    font-size: 3rem;
  }
  
  .home-banner .banner-content h3 span{
    font-size: 3rem;
    color:var(--orange);
  }
  
  .home-banner .banner-content p{
    color:var(--black);
    font-size: 1.7rem;
    padding:1rem 0;
    line-height: var(--line-height-md);
  }

  .heading{
    text-align: center;
    padding:2rem 0;
    padding-bottom: 3rem;
    font-size: 3.5rem;
    color:var(--black);
  }
  
  .heading span{
    background: var(--orange);
    color:var(--white);
    display: inline-block;
    padding: 0.5rem 3rem;
  }
  
  
  .features .box-container{
    margin: 2rem;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
    gap:3rem;
  }